# VITE_API_BASE_URL=http://3.109.253.115/k2kapi/

# VITE_FIREBASE_API_KEY=AIzaSyC_ysycSwa1nA1rbmnYtvE_Ghvivk_6AUU
# VITE_FIREBASE_AUTH_DOMAIN=k2krishikutumb.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=k2krishikutumb
# VITE_FIREBASE_STORAGE_BUCKET=k2krishikutumb.appspot.com
# VITE_FIREBASE_MESSAGING_SENDER_ID=633452173557
# VITE_FIREBASE_APP_ID=1:633452173557:web:75505f7089d961a024cdbc
# VITE_FIREBASE_MEASUREMENT_ID=G-8JWC8EBJTM